* {
    margin: 0px;
    padding: 0px;

}

main{
    display: flex;
   
    position: relative;
    
    background: #F3F5FC;
   
}

section{
    display: inline-block;
}

.logo{
    position: relative;
    width: 100px;
    margin-top: 4%;
    margin-left: 10;
    float: left
   
}

body{
    
    background: #E5E5E5;
    font-family: 'Titillium Web', sans-serif;
}



.input-texto{
    background-color: #E5E5E5;
    position: absolute;
    border: none;
    width: 700px;
    height: 300px;
    left: 40px;
    top: 150px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;

}

.input-texto::placeholder{
    background-color: inherit;
    color: #000B49;

}
.warn{
    position: absolute;
    
    top: 445px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
h6{
    position: absolute;
    left: 20px;
    top: 450px;
    font-family: 'Inter', sans-serif;
    font-size: smaller;
    font-weight: 500;
    color: #000B49;
    height: 30px;
    width: 320px;
    
}
h6::before {
    color: #000B49;
    
    margin-right: 8px;
    content: url(&#xf06a);
   
  }


.texto-result{
    top: 20px;
    float: left;
    margin-left: 200%;
    width: 336px;
    height: 505px;
    border-radius: 32px;
    offset: 0px, 24px, rgba(0, 0, 0, 0.08);
    border: none;
    outline: none;
    color: #9da3aa;
    padding: 25px;
    padding-top: 100px;
    text-align: center;
}

.figura {
    position: absolute;
    z-index: 1;
    margin-bottom: 1000px;
    width: 336px;
    height: 304px;
    left: 910px;
    top: 72px;
    

}

.btn-Enc {
    color: aliceblue;
    position: absolute;
	margin-left: 5px;
    border-radius: 24px;
	background: #0A3871;
    fill: solid;
	font-size: 20px;
    align-content:center;
    width: 25%;
	height: 8%;
    top: 500px;
    
}
.btn-Enc:hover {
    position: absolute;
    width: 25%;
	height: 8%;
    top: 500px;
    background: #0A3871;
    border-radius: 22px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-style: normal;
    line-height: 24px;
    text-align: center;
}
.btn-Des {
    position: absolute;
    width: 25%;
	height: 8%;
    border-radius: 24px;
    gap: 8px;
    background: #D8DFE8;
    margin-left: 29%;
    top: 750px;
    font-size: 20px;
    align-content:center;
    top: 500px;

}
.btn-Des:hover {
    position: absolute;
    width: 25%;
	height: 8%;
    top: 500px;
    border-radius: 22px;
    border-color: #FFFFFF;
    font-style: normal;
    line-height: 24px;
    text-align: center;
}

.copiar {
    position: absolute;
    width: 320px;
    height: 8%;
    left: 910px;
    top: 500px;
    background: #FFFFFF;
    border-radius: 24px;

    color: #0A3871;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.copiar:hover{
    position: absolute;
    width: 320px;
	height: 8%;
    top: 500px;
    border-radius: 22px;
    border-color: #FFFFFF;
    font-style: normal;
    line-height: 24px;
    text-align: center;
}

.contenedor-texto{
    position: absolute;
    width: 336px;
    height: 122px;
    top: 390px;
    left: 900px;
    gap: 40;
    
}

.Nmensaje{
    
    text-align: center;
}
.ingrese{
    padding-top: 5px;
    color:#0A3871;
    font-size: 15px;
    font-style: bold;
    text-align: center;
    
}

footer{
    text-align: center;
    color: #000B49;
}
